#header {
    background-color: rgb(201, 39, 39) ;
    color: white;
    text-align:center;
    padding: 10px;
}
#container {
    background-color: rgb(226, 226, 226);
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}
#content {
    padding: 10px;
}
#nav {
    width: 100px 200px;
    float: left;
    padding-top: 1px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 650px;
    background-color: rgb(241, 241, 241);
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 10px;
}

#main {
    width: 150px 800px 150px 800px;
    padding: 10px 140px 10px 60px;
    background-color: rgb(241, 241, 241);
    margin-left: 200px;
    margin-right: 20px;
    margin-bottom: 12px;
    margin-top: 20px;
}
#footer {
    clear: both;
    padding: 10px;
    background-color: gray;
    color: rgb(255, 255, 255);
    text-align: right;
}

#nav .selected {
    font-weight: bold;
}

#nav ul{
    list-style-type: none;
    padding:0;
}

a {
    text-decoration: none;
    color: red;
}

h1, h2 {
    margin: 0;
}

body {
    background-color: #EEE;
    font-family: Helvetica, Arial, sans-serif
}